@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300');
:root{
  --yelow: rgb(219, 222, 36);
  --blue: rgb(35, 35, 150);
  --darkblue: rgb(16, 16, 79);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--darkblue);
}
::-webkit-scrollbar-thumb {
  background: var(--yelow);
  border-radius: 20px;
}

body, html{
  height: 100%;
  width: 100%;
}

*{
  border:0;
  margin:0;
  background-color: var(--blue);
}
.container{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo{
  margin-top: 20px;
  color: rgb(219, 222, 36);
  text-align: center;

}

h1, h4{
  font-family: 'Comfortaa', sans-serif;
  color: var(--yelow);
  border: none;
}
.text{
  text-align: center;
  
}
.search-container{
margin-top: 10%;
}
.search-container h1{
  font-size: 60px;
  padding: 10px 0px 0px;
  
}
.items-container{
  display: flex;
  text-align: center;
  margin-top: 200px;
  flex-direction: row;
}
h4{
  padding: 0px 0px 20px;
  font-weight: lighter;
  letter-spacing: 15px;
}

@media (max-width: 480px) {
  .logo{
    margin-top: 10px;
    font-size: 10px;
  }
  .search-container{
    margin-top: 80px;
   
  }
  .search-container h1{
    font-size: 30px;
  
  }

  h4{
    letter-spacing: 2px;
  }
  .items-container{
    flex-direction: column;
    margin-top: 40px;
  }
}
